.tab-group{
    padding-bottom:20px;
}

.mat-content {
    display: flex;
    flex: 1;
    align-items: center !important;
    flex-direction: row;
    overflow: hidden;
}

.card{
    width:100%;
    margin-bottom: 6px;
}

.description{
    padding-bottom: 5px;
}

.distance{
    display: flex;
    justify-content: flex-end;
}

.flex{
    display: flex;
    align-items: center;
}

.pending{
    color: grey;
    padding-bottom: 6px;
}

.flex-end{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.flex-column{
    display: flex;
    flex-flow: column;
}

.mat-list-base .mat-list-item, .mat-list-base .mat-list-option {
    display: block;
    height: unset !important;
    -webkit-tap-highlight-color: transparent;
    width: 100%;
    padding: 0;
}

.flex-name{
    display: flex;
    align-items: center;
    padding-bottom: 6px;
}

.notes{
    padding-bottom: 6px;
}

.price{
    padding-bottom: 6px;
}

.flex-dates{
    display:flex;
    align-items: center;
    padding-bottom: 6px;
}

.search{
    width:95%;
    margin-left: 2.5%;
}